* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
  font-family: 'Courier New', Courier, monospace;
}

body {
  --main-color: hsl(27, 70%, 78%);
  --contrast-color: hsl(273, 84%, 10%);
  
  background-color: var(--main-color);
  color: var(--contrast-color);
  padding: 1rem;
}

main {
  padding: 1rem;
}

h1, h2 {
  font-family: "UnifrakturMaguntia", cursive;
  font-weight: 400;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  text-align: start;
  font: inherit;

  &:disabled {
    cursor: auto;
  }
}

a {
  cursor: pointer;
  text-decoration: none;
}